.navbar{
    color:floralwhite !important;
    background-color: transparent !important; /* Ensures transparency */
    border-color: transparent !important;
}

.div.container-fluid{
    color:floralwhite !important;
}

.container-fluid img {
    max-height: 500px; /* Ajusta la altura máxima de la imagen */
    width: auto; /* Ajusta el ancho automáticamente */
  }

.carousel {
    min-height: 400px;
    background-size: cover;
    position: relative;
}

.carousel-inner {
    border-bottom: 20px solid transparent;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}

.btn.btn-carrusel{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6962b9 !important;
    color:floralwhite;
}

.text-recent-concerts{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3%;
}

.container-fluid.cards{
    margin-bottom: 5%;
}

.card.col-sm-4.derecha{
    margin-right: 1%;
}


.nav-link{
    color:floralwhite !important;
}

.navbar-brand{
    color: #6962b9  !important;
}

/* .nav-item.sign-in{
    margin-left: 670px;
} */

.col-sm-6.anuncio1{
    height: 250px;
    margin-bottom: 5%;
    background-image: url('/img/img1.png');
}

.col-sm-6.anuncio2{
    background-image: url('/img/2.png');
    height: 250px;
    margin-bottom: 5%;
}

.text-anuncio{
    color: #ffffff;
    margin-left: 7%;
    margin-top: 9%;
}

.p-anuncio{
    color: #ffffff;
    margin-left: 7%;
    margin-top: 3%;
}

.header{
    height: 100vh;
    min-height: 400px;
    background-size: cover;
}

.btn {
    background-color: #6962b9 !important;
    color:floralwhite;
}

/* .text-reset.fw-bold{
    color: #6962b9 !important;
}

.text-uppercase.fw-bold.mb-4{
    color: #6962b9 !important;
} */
/* 
.d-flex.justify-content-center{
    color:#6962b9 !important;
}

.container.text-center{
    color:#6962b9 !important;
}

.container.foter{
    color:#6962b9 !important;
}

footer{
    color:#6962b9 !important;
}

.text-center.text-lg-start{} */